<app-header [title]="'Test'"></app-header>
<ion-content [fullscreen]="true" [color]="'light'">
  <ion-list [inset]="true">
    <ion-item button [detail]="true" (click)="requestAllPermissions()">
      <ion-label>{{ requestAllPermissions.name }}</ion-label>
    </ion-item>
    <ion-item button [detail]="true" (click)="listEventsInRange()">
      <ion-label>{{ listEventsInRange.name }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list [inset]="true">
    <ion-item button [detail]="true" (click)="createCalendar()">
      <ion-label>{{ createCalendar.name }}</ion-label>
    </ion-item>
    <ion-item button [detail]="true" (click)="createEventNonRecurring()">
      <ion-label>{{ createEventNonRecurring.name }}</ion-label>
    </ion-item>
    <ion-item button [detail]="true" (click)="createEventRecurring()">
      <ion-label>{{ createEventRecurring.name }}</ion-label>
    </ion-item>
    <ion-item button [detail]="true" (click)="modifyEventNonRecurring()">
      <ion-label>{{ modifyEventNonRecurring.name }}</ion-label>
    </ion-item>
    <ion-item button [detail]="true" (click)="modifyEventRecurring()">
      <ion-label>{{ modifyEventRecurring.name }}</ion-label>
    </ion-item>
    <ion-item button [detail]="true" (click)="deleteEventNonRecurring()">
      <ion-label>{{ deleteEventNonRecurring.name }}</ion-label>
    </ion-item>
    <ion-item button [detail]="true" (click)="deleteEventRecurring()">
      <ion-label>{{ deleteEventRecurring.name }}</ion-label>
    </ion-item>
    <ion-item button [detail]="true" (click)="deleteAllEvents()">
      <ion-label>{{ deleteAllEvents.name }}</ion-label>
    </ion-item>
    <ion-item button [detail]="true" (click)="deleteCalendar()">
      <ion-label>{{ deleteCalendar.name }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
